.day__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.day__date {
    display: flex;
    gap: 4px;
}



.day__weekday {
    text-align: left;
    padding-right: 4px;
    color: darkgray;
}

.day__header--current {
    color: blue;
}


.day__rule {
    height: 2px;
    background-color: black;
    border: none;
}

.day__rule--current {
    background-color: blue;
}

