.planner__header {
    display: flex;
    justify-content: space-between;
}

.planner__date {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.planner__controls {
    display: flex;
    gap: 8px;
}

.planner__button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    color: black;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
}