.planner__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.planner__date {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.planner__controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.planner__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: black;
    color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
}