.task {
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    width: 100%;

}

.task__description {
    cursor: pointer;
}

.task__description--complete {
    color: grey;
}

.task__checkbox {
    cursor: pointer;
}