.task {
    display: flex;
    justify-content: space-between;
}

.task__description {
    cursor: pointer;
}

.task__description--complete {
    color: grey;
}

.task__checkbox {
    cursor: pointer;
}