.task {
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    width: 100%;
}

.task__description {
    cursor: pointer;
}

.task__description--complete {
    color: darkgray;
}

.task__checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}



